@value variables: "./variables.css";
@value limiterWidth from variables;
@value videoPreviewLiveColor from variables;
@value videoPreviewLiveBg from variables;
@value spaceMedium from variables;
@value radiusSmall from variables;
@value textSmall from variables;

.limiter {
    max-width: limiterWidth;
    margin-left: auto;
    margin-right: auto;
}

.live {
    position: relative;
}

.live:global(:after) {
    content: 'Live';
    position: absolute;
    display: block;
    top: spaceMedium;
    left: spaceMedium;
    font-size: textSmall;
    background-color: videoPreviewLiveBg;
    color: videoPreviewLiveColor;
    padding: 2px 4px;
    border-radius: radiusSmall;
    opacity: .8;
}
